.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.hero-title {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1rem;
  text-shadow: 0 0 10px var(--accent-color);
}

.hero-subtitle {
  font-size: 1.5rem;
  color: var(--accent-color); /* Changed color to accent-color */
  margin-bottom: 2rem;
  text-shadow: 0 0 5px var(--accent-color); /* Added text-shadow */
}

.hero-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.hero-button:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}